<div class = "row text-center">
      <h1 class = "col-12">一覧ページ</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>created_at</th>
      </tr>
    </thead>
  
    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= note.title %></td>
          <td><%= note.author %></td>
          <td><%= note.created_at %></td>
          <td><button type="button" class="btn btn-outline-secondary"><%= link_to 'Show', note %></button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
