<div class = "top vh-100">
  <main class="d-flex justify-content-center flex-wrap text-center ">
  <h1 class ="text-white"><br><br>こんにちは<br><br>　このwebアプリは学んだこと、<br>知っている知識等を自由に投稿できるアプリケーションです。<br>気軽に投稿してアウトプットをしましょう。</h1>
    <form  class="form-signin col-5 text-center ">
      <%= link_to "GitHubでログイン", "/auth/github",  class: "btn-surround mt-5", method: :post %>
    </form>
</div>
